@charset "ISO-8859-1";
#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding-top : 8%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  /* margin-top : 5rem; */
  border: 1px solid gray;
}

#leftbtn{
	left-margin : 2rem;
}

#rightbtn{
	left-margin : 4rem;
}

@media screen and (min-width: 300px) {
  .card {
    flex: 1 1 calc(40% - 2rem);
  }
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}